<div class="jumbotron align-items-center">
  <div class="col-sm-8 mx-auto align-items-center">
    <img src="assets/images/social-media-analysis.png" class="rounded mx-auto d-block" alt="...">
    <h1 class="display-4 text-center title">Insert a community short address for community information.</h1>
    <form>
      <div class="form-group">
        <input
          [(ngModel)]="domain"
          name="domain"
          type="text"
          class="form-control"
          id="UrlPost"
          aria-describedby="emailHelp"
          placeholder="For example: znewskz"
        >
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="text-center">
            <button type="submit" class="btn btn-primary btn-lg" (click)="searched.emit(domain)">Find a community</button>
            <br>
            <br>
            <button type="button" class="btn btn-primary" (click)="getToken()">Get token</button>
          </div>
          <div class="col-md-12" *ngIf="tokenLink">
            Token link: <a [href]="tokenLink" target="_blank">get token</a>

            <div class="form-group">
              <input class="form-control" type="text" placeholder="add token" [(ngModel)]="tokenValue" name="tokenValue">
              <button (click)="saveToken()">save</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
