<div class="jumbotron align-items-center">
  <div class="col-sm-8 mx-auto align-items-center">
    <img src="assets/images/user1.jpg"
         class="rounded mx-auto d-block" alt="...">

    <h1 class="display-4 text-center">About author </h1>
    <blockquote class="blockquote text-center">
      <p class="mb-0">This thesis was written by a 4th year student of the specialty Information Security System of the Faculty of Information Technologies of the Kazakh National University named after al-Farabi Armanuly Yedil.</p>

    </blockquote>
  </div>
</div>
