<div class="jumbotron align-items-center">
  <div class="col-sm-8 mx-auto align-items-center">
    <img src="assets/images/about-png-images-8.png"
         class="rounded mx-auto d-block" alt="...">

    <h1 class="display-4 text-center">About project</h1>
    <blockquote class="blockquote text-center">
      <p class="mb-0">The purpose of this thesis is to prevent social networks from harmful information. This program shows how we can analyze the publications of the social network VKontakte, and identify obscene words that can cause cyberbullying and where our analysis can help fight this common problem. </p>

    </blockquote>
  </div>
</div>
